@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --font-sans: var(--font-assistant);
}

:root {
  --white: #d4d4d4;
  --black: #1f1f1f;
  --background: var(--white);
  --foreground: var(--black);
  --highlight: #ee2e31ff;
}

:root.dark {
  --white: #ebebeb;
  --black: #071e22ff;
  --background: var(--black);
  --foreground: var(--white);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
